#left-eye {
  animation: move-eyes 1s linear infinite alternate;
}

#right-eye {
  animation: move-eyes 1s linear infinite alternate;
}

#left-ear, #right-ear {
  transform: translateY(0);
  transform-origin: 34px 34px;
  transition: all .5s linear;
}

#bear:hover #right-ear {
  transform: translateY(-11px);
}

#bear:hover #left-ear {
  transform: translateY(-11px);
}

@keyframes move-eyes {
  0% {
    transform: translate(14px);
  }

  100% {
    transform: translate(-14px);
  }

}
